body {
    font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}
.logo {max-width: 80px;vertical-align: middle;margin-right: 1rem;}
.wrapper{
  margin: 0 auto;
  max-width:600px;
  background: lightgray;
  padding: 1rem 2rem;
}
.wrapper-full {
  margin: 0 auto;
  padding: 1rem 2rem;
}
.wrapper-full h1 {
  text-align: center;
}
legend {
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
input, textarea, select{
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  font-size: 1rem;
}
input[type=checkbox] {
  width: 1.5rem;
}

button{
  width: 100%;
  padding: .8rem 1rem;
  background: orangered;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
  cursor: pointer;
}
button:hover{
  background: orange;
}

/*Grid*/
.row {
  display: inline-flex;
}
.col-md-6 {
  width:50%;
  padding: 2rem;
  margin: 1rem;
  box-sizing: border-box;
  border: 1px solid darkgrey;
  background: lightgray;
}